# Python Basic Exercise for Beginners

In [1]:
# Exercise 1: Calculate the multiplication and sum of two numbers
number1 = 20
number2 = 30

Multiplication = number1*number2
Sum = number1+number2
print('Sum of Two Numbers: ',Sum,'Multiplication of two Numbers ', Multiplication)

Sum of Two Numbers:  50 Multiplication of two Numbers  600

In [12]:
# Exercise 2: Print the sum of the current number and the previous number
privious_num = 0
x = int(input('Enter Number'))
for i in range(1,x+1):
    S_num = privious_num + i
    print('Current Number :',i,'Previous Number :', privious_num, 'sum :',S_num)
    privious_num = i

Enter Number5
Current Number : 1 Previous Number : 0 sum : 1
Current Number : 2 Previous Number : 1 sum : 3
Current Number : 3 Previous Number : 2 sum : 5
Current Number : 4 Previous Number : 3 sum : 7
Current Number : 5 Previous Number : 4 sum : 9

In [46]:
# Exercise 3: Print characters from a string that are present at an even index number
x = input('enter string : ')
for i in range(0,len(x)-1,2):
    print(x[i])
#method 2
y = list(input('enter string : '))
for i in y[::2]:
    print(i)

enter string : akshit
a
s
i
enter string : akshit
a
s
i

In [ ]:
# # Exercise 4: Remove first n characters from a string 
# Write a program to remove characters from a string starting from zero up to n and 
# return a new string.
# For example:
# remove_chars("pynative", 4) so output must be tive. Here we need to remove first four
# characters from a string.remove_chars("pynative", 2) so output must be native.
# Here we need to remove first two characters from a string.

In [24]:
n = int(input('Enter Number : '))
strr = input('Enter string : ')

def remove_s (strr,n):
        x = strr[n:]
        return x
print(remove_s(strr,n))
print(remove_s(strr,n=4))

Enter Number : 4
Enter string : pynative
tive
tive

In [25]:
# Exercise 5: Check if the first and last number of a list is the same
number_x = [10, 20, 30, 40, 10]
number_y = [75, 65, 35, 75, 30]

# if number_x[0] == number_x[-1]:
#     print('True')
# else:
#     print('False')
    
# if number_y[0] == number_y[-1]:
#     print('True')
# else:
#     print('False')
def first_last_same(abc):
    if abc[0]==abc[-1]:
        return('True')
    else:
        return('False')

print('result', first_last_same(number_x))
print('result', first_last_same(number_y))

result True
result False

In [62]:
# Exercise 6: Display numbers divisible by 5 from a list
#  Given list is  [10, 20, 33, 46, 55]
a = [10, 20, 33, 46, 55]
for i in a:
    if i%5 == 0:
        print(i,end=' ')

10 20 55

In [28]:
# Exercise 7: Return the count of a given substring from a string
str_x = "Emma is good developer. Emma is a writer"
a = str_x.split(' ')
for i in a:
    if i == 'Emma':
        count = count+1
print('Emma appeared',count, 'times')
#ab = str_x.count('Emma')
# print(ab)

Emma appeared 2 times

In [35]:
# # Exercise 8: Print the following pattern
# 1 
# 2 2 
# 3 3 3 
# 4 4 4 4 
# 5 5 5 5 5


for i in range(1,6):
    for j in range(i):
        print(i,end=' ')
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [ ]:
# Exercise 9: Check Palindrome Number

In [90]:
# Exercise 10: Create a new list from a two list using the following condition
# Given a two list of numbers, write a program to create a new list such that
# the new list should contain odd numbers from the first list and even numbers from the second list.
list1 = [10, 20, 25, 30, 35]
list2 = [40, 45, 60, 75, 90]

list3=[]
for i in list1:
    if i%2!=0:
        list3.append(i)
for j in list2:
    if j%2==0:
        list3.append(j)
        
print(list3)

[25, 35, 40, 60, 90]

In [37]:
# Exercise 11: Write a Program to extract each digit from an integer in the reverse order.
number = 1256 
while number > 0:
    d = number%10 
    number = number//10
    print(d,end='')

6521

In [40]:
d = 1256//10 
d

125

In [48]:
# Exercise 13: Print multiplication table form 1 to 10
for i in range(11):
    for j in range(11):
        print(i*j,end='  ')
    print()

0  0  0  0  0  0  0  0  0  0  0
0  1  2  3  4  5  6  7  8  9  10
0  2  4  6  8  10  12  14  16  18  20
0  3  6  9  12  15  18  21  24  27  30
0  4  8  12  16  20  24  28  32  36  40
0  5  10  15  20  25  30  35  40  45  50
0  6  12  18  24  30  36  42  48  54  60
0  7  14  21  28  35  42  49  56  63  70
0  8  16  24  32  40  48  56  64  72  80
0  9  18  27  36  45  54  63  72  81  90
0  10  20  30  40  50  60  70  80  90  100

In [9]:
# Exercise 14: Print downward Half-Pyramid Pattern with Star (asterisk)
for i in range(6,0,-1):
    for j in range(i):
        print('*',end=' ')
    print()

* * * * * *
* * * * *
* * * *
* * *
* *
*

In [50]:
# # Exercise 15: Write a function called exponent(base, exp) that returns an int value of base 
# # raises to the power of exp.
# base = 2
# # exponent = 5
# 2 raises to the power of 5: 32 i.e. (2 *2 * 2 *2 *2 = 32)
base = int(input('Enter the Base'))
exp = int(input('Enter the power'))
def exponent(base,exp):
    result = base**exp
    return (result)
print(exponent(base,exp))

Enter the Base5
Enter the power4
625

In [24]:
def exponent(base, exp):
    num = exp
    result = 1
    while num >0:
        result = result*base
        num = num -1
    print(base, "raises to the power of", exp, "is: ", result)

exponent(5, 4)

5 raises to the power of 4 is:  625

## Python if else, for loop, and range() Exercises with Solutions

In [3]:
#     Exercise 1: Print First 10 natural numbers using while loop
n= 1
while n<=10:
    print (n)
    n =n+1

1
2
3
4
5
6
7
8
9
10

In [6]:
#     Exercise 2: Print the following pattern
# 1 
# 1 2 
# 1 2 3 
# 1 2 3 4 
# 1 2 3 4 5

for i in range(0,6):
    for j in range (i):
        print(i,end=' ')
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [ ]:
#     Exercise 3: Calculate the sum of all numbers from 1 to a given number
n = int(input('Enter the Number : '))
result = 0
while n> 0:
    result = result + n
    n = n+1
print('Sum is : ',result)

In [73]:
#     Exercise 4: Write a program to print multiplication table of a given number
num = int(input('Enter the Number : '))
# result = 1
while num <= 2 :
    i= 1
    while i<=10:
        p = num*i
        print(p)
        i =i +1
    num = num+1
# while num <= 10:
#     i = 1
#     while i <= 10:
#         product = num*i
#         print(num, " * ", i, " = ", product, "\n")
#         i = i + 1
#     num = num + 1
#     print("\n")
# print('\n')
# for i in range(1,11):
#     print (n*i)

Enter the Number : 2
2
4
6
8
10
12
14
16
18
20

In [62]:
while num <= 10:
    i = 1
    while i <= 10:
        product = num*i
        print(num, " * ", i, " = ", product, "\n")
        i = i + 1
    num = num + 1
    print("\n")

2  *  1  =  2

2  *  2  =  4

2  *  3  =  6

2  *  4  =  8

2  *  5  =  10

2  *  6  =  12

2  *  7  =  14

2  *  8  =  16

2  *  9  =  18

2  *  10  =  20



3  *  1  =  3

3  *  2  =  6

3  *  3  =  9

3  *  4  =  12

3  *  5  =  15

3  *  6  =  18

3  *  7  =  21

3  *  8  =  24

3  *  9  =  27

3  *  10  =  30



4  *  1  =  4

4  *  2  =  8

4  *  3  =  12

4  *  4  =  16

4  *  5  =  20

4  *  6  =  24

4  *  7  =  28

4  *  8  =  32

4  *  9  =  36

4  *  10  =  40



5  *  1  =  5

5  *  2  =  10

5  *  3  =  15

5  *  4  =  20

5  *  5  =  25

5  *  6  =  30

5  *  7  =  35

5  *  8  =  40

5  *  9  =  45

5  *  10  =  50



6  *  1  =  6

6  *  2  =  12

6  *  3  =  18

6  *  4  =  24

6  *  5  =  30

6  *  6  =  36

6  *  7  =  42

6  *  8  =  48

6  *  9  =  54

6  *  10  =  60



7  *  1  =  7

7  *  2  =  14

7  *  3  =  21

7  *  4  =  28

7  *  5  =  35

7  *  6  =  42

7  *  7  =  49

7  *  8  =  56

7  *  9  =  63

7  *  10  =  70



8  *  1  =  8

8  *  2  =  16

8  *  3  =  24

8  *  4  =  32

8  *  5  =  40

8  *  6  =  48

8  *  7  =  56

8  *  8  =  64

8  *  9  =  72

8  *  10  =  80



9  *  1  =  9

9  *  2  =  18

9  *  3  =  27

9  *  4  =  36

9  *  5  =  45

9  *  6  =  54

9  *  7  =  63

9  *  8  =  72

9  *  9  =  81

9  *  10  =  90



10  *  1  =  10

10  *  2  =  20

10  *  3  =  30

10  *  4  =  40

10  *  5  =  50

10  *  6  =  60

10  *  7  =  70

10  *  8  =  80

10  *  9  =  90

10  *  10  =  100

In [21]:
#     Exercise 5: Display numbers from a list using loop
# Write a program to display only those numbers from a list that satisfy the following conditions
#     The number must be divisible by five
#     If the number is greater than 150, then skip it and move to the next number
#     If the number is greater than 500, then stop the loop

numbers = [12, 75, 150, 180, 145, 525, 50]

for i in numbers :
    if i > 500: 
        break
    elif i > 150:
        continue 
    elif i % 5 == 0 :
        print(i)

75
150
145

In [27]:
#     Exercise 6: Count the total number of digits in a number
x = int(input('Enter the number'))
count = 0
while x != 0 :
    x = x// 10
    count = count + 1
print(count)

Enter the number5121
4

In [31]:
#     Exercise 7: Print the following pattern
# 5 4 3 2 1 
# 4 3 2 1 
# 3 2 1 
# 2 1 
# 1

for i in range (5,0,-1):
    for j in range (i):
        print(i,end=' ')
    print()

5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [83]:
#     Exercise 8: Print list in reverse order using a loop
list1 = [10, 20, 30, 40, 50]
for i in range(len(list1)-1,-1,-1):
    print(list1[i])

50
40
30
20
10

In [88]:
for i in range(4,-1,-1):
    print(i)

4
3
2
1
0

In [48]:
#     Exercise 9: Display numbers from -10 to -1 using for loop
for i in range(-10,0):
    print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

In [49]:
#     Exercise 10: Use else block to display a message “Done” after successful execution of for loop
for i in range(5):
    print(i)
else:
    print('Done')

0
1
2
3
4
Done

In [54]:
#     Exercise 11: Write a program to display all prime numbers within a range
for i in range(25,50):
    if i > 1 :
        for j in range(2,i):
            if (i%j) == 0:
                break
        else:
                print(i)

29
31
37
41
43
47

In [89]:
#     Exercise 12: Display Fibonacci series up to 10 terms
num1 , num2 =0,1
for i in range (1,11):
    print(num1,end=' ')
    res = num1+num2
    num1 =num2
    num2 = res

0 1 1 2 3 5 8 13 21 34

In [26]:
#     Exercise 13: Find the factorial of a given number
n = int(input('enter the number'))
x = 1
for i in range (1,n+1):
    x = x*i
print(x)

enter the number5
120

In [39]:
#     Exercise 14: Reverse a given integer number
x = int(input('Enter the Number'))
rev = 0
while x>0:
    rem = x%10
    rev = (rev*10)-rem
    x=x//10
    print(rem,end='')

Enter the Number123
321

In [42]:
#Exercise 15: Use a loop to display elements from a given list present at odd index positions
my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
for i in range(0,len(my_list)):
    if i %2 != 0:
        print(my_list[i],end=' ')

20 40 60 80 100

In [47]:
#     Exercise 16: Calculate the cube of all numbers from 1 to a given number
num = int(input('Enter the number :'))
for i in range (1,num+1):
    res = i**3
    print('Current number : ',i,'Cube of the number : ',res)

Enter the number :6
Current number :  1 Cube of the number :  1
Current number :  2 Cube of the number :  8
Current number :  3 Cube of the number :  27
Current number :  4 Cube of the number :  64
Current number :  5 Cube of the number :  125
Current number :  6 Cube of the number :  216

In [53]:
#     Exercise 17: Find the sum of the series upto n terms
n = int(input('Enter the Number upto series '))
x = int(input('Enter the Number for series '))
sums =0
start = x
for i in range(0,n):
    sums =sums + start
    start = start* 10+x
print(sums)

Enter the Number upto series 5
Enter the Number for series 3
37035

In [58]:
#     Exercise 18: Print the following pattern
# * 
# * * 
# * * * 
# * * * * 
# * * * * * 
# * * * * 
# * * * 
# * * 
# *
for i in range(0,6):
    for i in range(i):
        print('*',end=' ')
    print()
for i in range(6,0,-1):
    for i in range(i):
        print('*',end=' ')
    print()

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

# Python List Exercise with Solutions

In [62]:
#     Exercise 1: Reverse a list in Python.
list1 = [100, 200, 300, 400, 500]
print(list1[::-1])

[500, 400, 300, 200, 100]

In [74]:
#     Exercise 2: Concatenate two lists index-wise
list1 = ["M", "na", "i", "Ke"]
list2 = ["y", "me", "s", "lly"]
list3 =[]
for i in range(len(list1)):
    res = list1[i]+list2[i]
    list3.append(res)
print(list3)
#method 2 but wrong as answer is not list but a sting  
for i in range(len(list1)):
    list3 = list1[i]+list2[i]
    print(list3,end=' ')

print(type(list3))

My name is Kelly <class 'str'>

In [75]:
#     Exercise 3: Turn every item of a list into its square
numbers = [1, 2, 3, 4, 5, 6, 7]
new_numbers = []
for i in numbers:
    res = i**2
    new_numbers.append(res)
print(new_numbers)

[1, 4, 9, 16, 25, 36, 49]

In [85]:
#     Exercise 4: Concatenate two lists in the following order
list1 = ["Hello ", "take "]
list2 = ["Dear", "Sir"]
list3=[]
res = [x+y for x in list1 for y in list2]
print(res)

['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

In [93]:
#     Exercise 5: Iterate both lists simultaneously
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]
for x, y in zip(list1, list2[::-1]):
    print(x, y)

10 400
20 300
30 200
40 100

In [95]:
#     Exercise 6: Remove empty strings from the list of strings
list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"]
res = list(filter(None, list1))
print(res)

['Mike', 'Emma', 'Kelly', 'Brad']

In [3]:
#     Exercise 7: Add new item to list after a specified item ,
# Write a program to add item 7000 after 6000 in the following Python List

list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]

list1[2][2].append(7000)
print(list1)

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

In [6]:
#     Exercise 8: Extend nested list by adding the sublist
list1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]
# sub list to add
sub_list = ["h", "i", "j"]

list1[2][1][2].extend(["h", "i", "j"])
print(list1)

['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

In [11]:
#     Exercise 9: Replace list’s item with new value if found
# You have given a Python list. Write a program to find value 20 in the list, and if it is present,
# replace it with 200. Only update the first occurrence of an item.
list1 = [5, 10, 15, 20, 25, 50, 20]
i= list1.index(20)
list1[i]=200
print(list1)

[5, 10, 15, 200, 25, 50, 20]

In [13]:
#     Exercise 10: Remove all occurrences of a specific item from a list.
#     Given a Python list, write a program to remove all occurrences of item 20.
list1 = [5, 20, 15, 20, 25, 50, 20]
y = int(input('Enter the number to remove'))
def remove_item(list1,y):
    return[i for i in list1 if i != y]

print(remove_item(list1,y))

Enter the number to remove20
[5, 15, 25, 50]

## Python String Exercise with Solutions

In [16]:
# Table of contents
#     Exercise 1A: Create a string made of the first, middle and last character
x = input('Enter the Name : ')

# result = x[0]
# l = len(x)
# mid = int(l/2)
# result = result+ x[mid]
# last = x[-1]
# result = result+last
# print(result)
#     Exercise 1B: Create a string made of the middle three characters
l = len(x)
mid = int(l/2)
result = x[mid]
lm = x[mid-1]
result = lm +result 
mr= x[mid+1]
result = result + mr
print(result)

Enter the Name : JaSonAy
Son

In [24]:
#     Exercise 2: Append new string in the middle of a given string
s1 = "Ault"
s2 = "Kelly"
l = len(s1)
mid = int(l/2)
s3 = s1[:mid]+s2+s1[mid:]
print(s3)

AuKellylt

In [11]:
#     Exercise 3: Create a new string made of the first, middle, and 
#     last characters of each input string
s1 = "America"
s2 = "Japan"
def abc(x,y):
        l = len(x)
        l1 = len(y)
        result =x[0] + y[0]
        mid = int(l/2)
        mid1 = int(l1/2)
        result = result + x[mid] + y[mid1]
        last = x[-1] +y[-1]
        result = result+last
        return result

          
abc(s1,s2)

'AJrpan'

In [19]:
#     Exercise 4: Arrange string characters such that lowercase letters should come first
str1 = 'PyNaTive'
lo =[]
up =[]
for i in str1:
    if i.islower():
        lo.append(i)
    else:
        up.append(i)

str2 = ''.join(lo+up)
print(str2)

yaivePNT

In [24]:
#     Exercise 5: Count all letters, digits, and special symbols from a given string
str1    = "P@#yn26at^&i5ve"
letter  = 0
digit   = 0
special = 0
for i in str1 :
    if i.isdigit():
        digit += 1
    elif i.isalpha():
        letter += 1
    else:
        special += 1
        
        
print('letter : ',letter,'digit : ',digit,'special', special)
print(len(str1))

letter :  8 digit :  3 special 4
15

In [26]:
#     Exercise 6: Create a mixed String using the following rules

x = input('enter  str 1 :')
y = input('enter  str 2 :')

y= y[::-1]

length = len(x) if len(x)> len(y) else len(y)
for i in range(length):
    result = x[i]+y[i]
    print(result,end='')

enter  str 1 :abc
enter  str 2 :xyz
azbycx

In [3]:
#     Exercise 7: String characters balance Test
#     Write a program to check if two strings are balanced. 
#     For example, strings s1 and s2 are balanced if all the characters in the s1 are present in s2. 
#     The character’s position doesn’t matter.

s1 = input('Enter the Str')
s2 = input('Enter the Str')
def bal(s1,s2):
    for i in s1:
        if i in s2:
            return('True')
        else:
            return ('False')

print(bal(s1,s2))

Enter the Strak
Enter the Strakshit
True

In [36]:
#     Exercise 8: Find all occurrences of a substring in a given string by ignoring the case
str1 = "Welcome to USA. usa awesome, isn't it?"
str1 = str1.lower()
count = 0
if 'usa' in str1:
    count = str1.count('usa')
print('Count of USA : ',count)

Count of USA :  2

In [47]:
#     Exercise 9: Calculate the sum and average of the digits present in a string
str1 = "PYnative29@#8496"
sums = 0
count =0
for i in str1:
    if i.isdigit():
        sums = sums + int(i)
        count +=1
print(sums)
print(count)
avg = sums/count
print(avg)

38
6
6.333333333333333

In [49]:
#     Exercise 10: Write a program to count occurrences of all characters within a string
str1 = "AppNDFKCV,.le"

# create a result dictionary
char_dict = dict()

for char in str1:
    count = str1.count(char)
    # add / update the count of a character
    char_dict[char] = count
print('Result:', char_dict)

Result: {'A': 1, 'p': 2, 'N': 1, 'D': 1, 'F': 1, 'K': 1, 'C': 1, 'V': 1, ',': 1, '.': 1, 'l': 1, 'e': 1}

In [1]:
#     Exercise 11: Reverse a given string
str1 = "PYnative"
print(str1[::-1])

evitanYP

In [4]:
#     Exercise 12: Find the last position of a given substring
str1 = "Emma is a data scientist who knows Python. Emma works at google."
print(len(str1))
index = str1.rfind('Emma')
print(index)

64
43

In [6]:
#     Exercise 13: Split a string on hyphens
# Write a program to split a given string on hyphens and display each substring.
str1 = 'Emma-is-a-data-scientist'
r= str1.split('-')
for i in r :
    print(i)

Emma
is
a
data
scientist

In [15]:
#     Exercise 14: Remove empty strings from a list of strings
str_list = ["Emma", "Jon", "", "Kelly", None, "Eric", ""]
res =[]
for i in str_list:
    if i:
        res.append(i)
print(res)

['Emma', 'Jon', 'Kelly', 'Eric']

In [26]:
#     Exercise 15: Remove special symbols / punctuation from a string
str1 = "/*Jon is @developer & musician"
def punch_remove(x):
    str2 = ''
    punctuation = '!@#$%^&*()&*<>?,./\|""'
    for i in x:
        if i  not in punctuation:
            str2=str2+i
    return str2
print(punch_remove(str1))

Jon is developer  musician

In [29]:
#     Exercise 16: Removal all characters from a string except integers
str1 = 'I am 25 years and 10 months old'
st1 =''
for i in str1:
    if i.isdigit():
        st1 = st1+i 
print(st1)

2510

In [90]:
#     Exercise 17: Find words with both alphabets and numbers
str1 = "Emma25 is Data scientist50 and AI Expert"

In [45]:
#     Exercise 18: Replace each special symbol with # in the following string
str1 = '/*Jon is @developer & musician!!'
srt2 =''
punctuation = '!@#$%^&*()&*<>?,./\|""'
for i in str1:
    if i in punctuation:
        str1=str1.replace(i,'#')
print(str1)

##Jon is #developer # musician##

## Python Functions Exercise

In [47]:
#     Exercise 1: Create a function in Python
def func(x):
    x = x**2
    return x
print(func(6))

36

In [1]:
#     Exercise 2: Create a function with variable length of arguments
def func1(*args):
    for i in args:
        print(i)

func1(20, 40, 60)
func1(80, 100)

20
40
60
80
100

In [8]:
#     Exercise 3: Return multiple values from a function
def calculation(a,b):
    add = a+b
    sub = a-b
    print( 'sum : ', add ,'sub: ', sub)

calculation(60,40)

sum :  100 sub:  20

In [15]:
#     Exercise 4: Create a function with a default argument
def show_employee(x,y=9000):
    print('Name :',x,'Salary : ',y)

show_employee('akshit')
show_employee('akshit',10000)
show_employee('akshit',8500)

Name : akshit Salary :  9000
Name : akshit Salary :  10000
Name : akshit Salary :  8500

In [93]:
#     Exercise 5: Create an inner function to calculate the addition in the following way
# outer function
def outer_fun(a, b):
    square = a ** 2
    def addition(a, b):
        return a + b
    add = addition(a, b)
    return add + 5
result = outer_fun(5, 10)
print(result)

20

In [18]:
#     Exercise 6: Create a recursive function
# Write a program to create a recursive function to calculate the sum of numbers from 0 to 10.
# A recursive function is a function that calls itself again and again.

def addition(num):
    if num:
        return num + addition(num - 1)
    else:
        return 0

res = addition(10)
print(res)

55

In [19]:
#     Exercise 7: Assign a different name to function and call it through the new name
def display_student(name, age):
    print(name, age)

display_student("Emma", 26)
showStudent = display_student
showStudent("Emma", 26)

Emma 26
Emma 26

In [30]:
#     Exercise 8: Generate a Python list of all the even numbers between 4 to 30
def even_num(x,y):
    for i in range(x,y+1):
        if i % 2 ==0:
            print (i,end=' ')
        
even_num(4,30)

4 6 8 10 12 14 16 18 20 22 24 26 28 30

In [39]:
#     Exercise 9: Find the largest item from a given list
x = [4, 6, 8, 24, 12, 2]
def larg(x):
    maxx = x[0]
    for i in x:
        if i>maxx:
            maxx=i
    return maxx
larg(x)

24

## Python Data Structure Exercise for Beginners

In [45]:
#     Exercise 1: Create a list by picking an odd-index items from 
#     the first list and even index items from the second
l1 = [3, 6, 9, 12, 15, 18, 21]
l2 = [4, 8, 12, 16, 20, 24, 28]
l3 = []

for i in range(len(l1)):
    if i%2 !=0:
        l3.append(l1[i])
for j in range(len(l2)):
    if j %2 == 0 :
        l3.append(l2[j])
print(l3)

[6, 12, 18, 4, 12, 20, 28]

In [59]:
    # Exercise 2: Remove and add item in a list 
    # Write a program to remove the item present at index 4 and add it to the
    # 2nd position and at the end of the list.
    
list1 = [34, 54, 67, 89, 11, 43, 94]
l1 = list1.pop(4)
print('remove the item present at index 4 : ',l1,'New list : ',list1)
l3 = list1.insert(2,l1)
print('add it to the 2nd position : ',list1)
list1.append(l1)
print('and at the end of the list: ',list1)

remove the item present at index 4 :  11 New list :  [34, 54, 67, 89, 43, 94]
add it to the 2nd position :  [34, 54, 11, 67, 89, 43, 94]
and at the end of the list:  [34, 54, 11, 67, 89, 43, 94, 11]

In [108]:
# Exercise 3: Slice list into 3 equal chunks and reverse each chunk
l11 = [11, 45, 8, 23, 14, 12, 78, 45, 89]
leng= len(l11)
print('lenght',leng)
chunk_size = int(leng/3)
print('chunk size',chunk_size)
x =0
y= chunk_size
for i in range(3):
    indexes  = slice(x,y)
    li = l11[indexes]
    print('chunck',i,l11)
    x=y
    y=y+chunk_size

lenght 9
chunk size 3
chunck 0 [11, 45, 8, 23, 14, 12, 78, 45, 89]
chunck 1 [11, 45, 8, 23, 14, 12, 78, 45, 89]
chunck 2 [11, 45, 8, 23, 14, 12, 78, 45, 89]

In [80]:
# Exercise 4: Count the occurrence of each element from a list
sample_list = [11, 45, 8, 11, 23, 45, 23, 45, 89]
sl ={}
for i in sample_list:
    if i in sl:
        sl[i] =sl[i]+1
    else:
        sl[i] = 1
print(sl)

{11: 2, 45: 3, 8: 1, 23: 2, 89: 1}

In [88]:
# Exercise 5: Create a Python set such that it shows the element from both lists in a pair
first_list = [2, 3, 4, 5, 6, 7, 8]
second_list = [4, 9, 16, 25, 36, 49, 64]
res= set(zip(first_list,second_list))
print(res)

{(7, 49), (2, 4), (4, 16), (8, 64), (6, 36), (3, 9), (5, 25)}

In [91]:
# Exercise 6: Find the intersection (common) of two sets and remove those elements from 
#     the first set
first_set = {23, 42, 65, 57, 78, 83, 29}
second_set = {57, 83, 29, 67, 73, 43, 48}
s1 = first_set.intersection(second_set)
print(s1)

{57, 83, 29}

In [95]:
#     Exercise 7: Checks if one set is a subset or superset of another set.
#     If found, delete all elements from that set
first_set = {27, 43, 34}
second_set = {34, 93, 22, 27, 43, 53, 48}
print(first_set.issubset(second_set))
first_set.clear()
print(first_set)

True
set()

In [110]:
# Exercise 8: Iterate a given list and check if a given element 
#     exists as a key’s value in a dictionary. If not, delete it from the list
roll_number = [47, 64, 69, 37, 76, 83, 95, 97]
sample_dict = {'Jhon':47, 'Emma':69, 'Kelly':76, 'Jason':97}
list12 =[]
for i in roll_number:
    if i in sample_dict.values():
        list12.append(i)
print(list12)

[47, 69, 76, 97]

In [113]:
# Exercise 9: Get all values from the dictionary and add them to a list but don’t add duplicates
speed = {'jan': 47, 'feb': 52, 'march': 47, 'April': 44, 'May': 52, 'June': 53,
         'july': 54, 'Aug': 44, 'Sept': 54}

new_list =[]
for i in speed.values():
    if i not in new_list:
        new_list.append(i)
        
print(new_list)

[47, 52, 44, 53, 54]

In [2]:
# Exercise 10: Remove duplicates from a list and create a tuple and 
# find the minimum and maximum number
sample_list = [87, 45, 41, 65, 94, 41, 99, 94]
t=tuple(sample_list)
print(t)
print(max(t))
print(min(t))
print(list(set(sample_list)))

(87, 45, 41, 65, 94, 41, 99, 94)
99
41
[65, 99, 41, 45, 87, 94]

## Python Dictionary Exercise with Solutions

In [7]:
#     Exercise 1: Convert two lists into a dictionary

keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]
d1=dict(zip(keys,values))
print(d1)
print(type(d1))

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}
<class 'dict'>

In [11]:
#     Exercise 2: Merge two Python dictionaries into one
dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

dict1.update(dict2)
print(dict1)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

In [109]:
#     Exercise 3: Print the value of key ‘history’ from the below dict
sampleDict = {
    "class": {
        "student": {
            "name": "Mike",
            "marks": {
                "physics": 70,
                "history": 80
            }
        }
    }
}
print(sampleDict)

{'class': {'student': {'name': 'Mike', 'marks': {'physics': 70, 'history': 80}}}}

In [22]:
sampleDict['class']['student']['marks']['history']

80

In [29]:
#     Exercise 4: Initialize dictionary with default values
employees = ['Kelly', 'Emma']
defaults = {"designation": 'Developer', "salary": 8000}
d2 = dict()
res = dict.fromkeys(employees,defaults)
print(res)

{'Kelly': {'designation': 'Developer', 'salary': 8000}, 'Emma': {'designation': 'Developer', 'salary': 8000}}

In [111]:
employees = ['Kelly', 'Emma']
defaults = {"designation": 'Developer', "salary": 8000}
d2 = dict()
res = dict(zip(employees,defaults))
print(res)

{'Kelly': 'designation', 'Emma': 'salary'}

In [119]:
#     Exercise 5: Create a dictionary by extracting the keys from a given dictionary
sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"}

# Keys to extract
keys = ["name", "salary"]
print(sample_dict)
# res2 = {}
# newDict = dict()
# for k in keys :
#     res2.update({k:sample_dict[k]})
# print(res)
n_d = {k: sample_dict[k] for k in keys}
print(n_d)

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'city': 'New york'}
{'name': 'Kelly', 'salary': 8000}

In [39]:
#     Exercise 6: Delete a list of keys from a dictionary
sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"
}

# Keys to remove
keys = ["name", "salary"]
print(sample_dict)
sample_dict.pop('name','salary')
print(sample_dict)

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'city': 'New york'}
{'age': 25, 'salary': 8000, 'city': 'New york'}

In [141]:
#     Exercise 7: Check if a value exists in a dictionary
sample_dict = {'a': 100, 'b': 200, 'c': 300}
# n = int(input('enter the value to check : '))
def check_number(n):
    if 200 in sample_dict.values():
        return ('200 is present')

    
check_number(200)

'200 is present'

In [142]:
#     Exercise 8: Rename key of a dictionary
sample_dict = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york"
}
print(sample_dict)

sample_dict['location'] = sample_dict['city']
sample_dict.pop('city')
print(sample_dict)

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'city': 'New york'}
{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}

In [76]:
#     Exercise 9: Get the key of a minimum value from the following dictionary
sample_dict = {
  'Physics': 82,
  'Math': 65,
  'history': 75
}
print(sample_dict)
print(min(sample_dict.items()))
print(min(sample_dict, key=sample_dict.get))

{'Physics': 82, 'Math': 65, 'history': 75}
('Math', 65)
Math

In [78]:
#     Exercise 10: Change value of a key in a nested dictionary
sample_dict = {
    'emp1': {'name': 'Jhon', 'salary': 7500},
    'emp2': {'name': 'Emma', 'salary': 8000},
    'emp3': {'name': 'Brad', 'salary': 500}
}
print(sample_dict)
sample_dict['emp3']['salary']=8500
print(sample_dict)

{'emp1': {'name': 'Jhon', 'salary': 7500}, 'emp2': {'name': 'Emma', 'salary': 8000}, 'emp3': {'name': 'Brad', 'salary': 500}}
{'emp1': {'name': 'Jhon', 'salary': 7500}, 'emp2': {'name': 'Emma', 'salary': 8000}, 'emp3': {'name': 'Brad', 'salary': 8500}}

## Python Set Exercise with Solutions

In [81]:
#     Exercise 1: Add a list of elements to a set
sample_set = {"Yellow", "Orange", "Black"}
sample_list = ["Blue", "Green", "Red"]

sample_set.update(sample_list)
print(sample_set)

{'Green', 'Black', 'Orange', 'Yellow', 'Blue', 'Red'}

In [83]:
#     Exercise 2: Return a new set of identical items from two sets
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
set1.intersection(set2)

{30, 40, 50}

In [84]:
#     Exercise 3: Get Only unique items from two sets
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
set1.union(set2)

{10, 20, 30, 40, 50, 60, 70}

In [96]:
#     Exercise 4: Update the first set with items that don’t exist in the second set
set1 = {10, 20, 30}
set2 = {20, 40, 50}
set1.difference_update(set2)
print(set1)

{10, 30}

In [98]:
#     Exercise 5: Remove items from the set at once
set1 = {10, 20, 30, 40, 50}
set1.difference_update({10,20,30})
print(set1)

{50, 40}

In [145]:
#     Exercise 6: Return a set of elements present in Set A or B, but not both
seta = {10, 20, 30, 40, 50}
setb = {30, 40, 50, 60, 70}

a = seta.symmetric_difference(setb)
print(a)
print(seta.symmetric_difference(setb))

{20, 70, 10, 60}
{20, 70, 10, 60}

In [107]:
#     Exercise 7: Check if two sets have any elements in common. If yes, display the common elements
set1 = {10, 11, 30, 40, 50}
set2 = {60, 70, 80, 90, 15}
if set1.isdisjoint(set2):
  print("Two sets have no items in common")
else:
  print("Two sets have items in common")
  print(set1.intersection(set2))

Two sets have no items in common

In [114]:
#     Exercise 8: Update set1 by adding items from set2, except common items
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
set1.symmetric_difference_update(set2)
print(set1)

{20, 70, 10, 60}

In [116]:
#     Exercise 9: Remove items from set1 that are not common to both set1 and set2
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

set1.intersection_update(set2)
print(set1)

{40, 50, 30}

{10, 20, 60, 70}

In [ ]:
#     l = len(x)
#     l1 = len(y)
#     mid = int(l/2)
#     mid1 = int(l1/2)
#     result = x[mid]+y[mid1]
#     lm = x[mid-1]+y[mid1-1]
#     result = lm +result 
#     mr= x[mid+1]+y[mid1+1]
#     result = result + mr
#     return(result)
      # result = x[0]

## List Comprehension Practice Problems

In [4]:
# Q1 Find all of the numbers from 1–1000 that are divisible by 8

l= [ i for i in range(1,1001) if i % 8==0]
print(l)

[8, 16, 24, 32, 40, 48, 56, 64, 72, 80, 88, 96, 104, 112, 120, 128, 136, 144, 152, 160, 168, 176, 184, 192, 200, 208, 216, 224, 232, 240, 248, 256, 264, 272, 280, 288, 296, 304, 312, 320, 328, 336, 344, 352, 360, 368, 376, 384, 392, 400, 408, 416, 424, 432, 440, 448, 456, 464, 472, 480, 488, 496, 504, 512, 520, 528, 536, 544, 552, 560, 568, 576, 584, 592, 600, 608, 616, 624, 632, 640, 648, 656, 664, 672, 680, 688, 696, 704, 712, 720, 728, 736, 744, 752, 760, 768, 776, 784, 792, 800, 808, 816, 824, 832, 840, 848, 856, 864, 872, 880, 888, 896, 904, 912, 920, 928, 936, 944, 952, 960, 968, 976, 984, 992, 1000]

In [8]:
# Q2 Find all of the numbers from 1–1000 that have a 6 in them
l1 = [i for i in range(1,1000) if '6' in str(i) ]
print(l1)

[6, 16, 26, 36, 46, 56, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 76, 86, 96, 106, 116, 126, 136, 146, 156, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 176, 186, 196, 206, 216, 226, 236, 246, 256, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 276, 286, 296, 306, 316, 326, 336, 346, 356, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 376, 386, 396, 406, 416, 426, 436, 446, 456, 460, 461, 462, 463, 464, 465, 466, 467, 468, 469, 476, 486, 496, 506, 516, 526, 536, 546, 556, 560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 576, 586, 596, 600, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610, 611, 612, 613, 614, 615, 616, 617, 618, 619, 620, 621, 622, 623, 624, 625, 626, 627, 628, 629, 630, 631, 632, 633, 634, 635, 636, 637, 638, 639, 640, 641, 642, 643, 644, 645, 646, 647, 648, 649, 650, 651, 652, 653, 654, 655, 656, 657, 658, 659, 660, 661, 662, 663, 664, 665, 666, 667, 668, 669, 670, 671, 672, 673, 674, 675, 676, 677, 678, 679, 680, 681, 682, 683, 684, 685, 686, 687, 688, 689, 690, 691, 692, 693, 694, 695, 696, 697, 698, 699, 706, 716, 726, 736, 746, 756, 760, 761, 762, 763, 764, 765, 766, 767, 768, 769, 776, 786, 796, 806, 816, 826, 836, 846, 856, 860, 861, 862, 863, 864, 865, 866, 867, 868, 869, 876, 886, 896, 906, 916, 926, 936, 946, 956, 960, 961, 962, 963, 964, 965, 966, 967, 968, 969, 976, 986, 996]

In [12]:
# Q3 Count the number of spaces in a string (use string above)
string = "Practice Problems to Drill List Comprehension in Your Head."
no_of_s = len([i for i in string if i ==' '])
print(no_of_s)

8

In [15]:
# Q4 Remove all of the vowels in a string (use string above)
string = "Practice Problems to Drill List Comprehension in Your Head."
l = ''.join([ i for i in string if i not in ["a","e","i","o","u"]])
print(l)

Prctc Prblms t Drll Lst Cmprhnsn n Yr Hd.

In [20]:
# Q5  Find all of the words in a string that are less than 5 letters (use string above)
string = "Practice Problems to Drill List Comprehension in Your Head."
s=string.split()
w =[i for i in s if len(i)<5 ]
print(w)

['to', 'List', 'in', 'Your']

In [25]:
# Q6 Use a dictionary comprehension to count the length of each word in a sentence (use string above)
string = "Practice Problems to Drill List Comprehension in Your Head."
s=string.split()
w={k:len(k) for k in s}
print(w)

{'Practice': 8, 'Problems': 8, 'to': 2, 'Drill': 5, 'List': 4, 'Comprehension': 13, 'in': 2, 'Your': 4, 'Head.': 5}

In [146]:
# Q7 Use a nested list comprehension to find all of the numbers from 1–1000 that are divisible by 
#    any single digit besides 1 (2–9)

l=[i for i in range(1,1000) if True in [True for j in range(2,10) if i%j == 0]]
print(l)

[2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 14, 15, 16, 18, 20, 21, 22, 24, 25, 26, 27, 28, 30, 32, 33, 34, 35, 36, 38, 39, 40, 42, 44, 45, 46, 48, 49, 50, 51, 52, 54, 55, 56, 57, 58, 60, 62, 63, 64, 65, 66, 68, 69, 70, 72, 74, 75, 76, 77, 78, 80, 81, 82, 84, 85, 86, 87, 88, 90, 91, 92, 93, 94, 95, 96, 98, 99, 100, 102, 104, 105, 106, 108, 110, 111, 112, 114, 115, 116, 117, 118, 119, 120, 122, 123, 124, 125, 126, 128, 129, 130, 132, 133, 134, 135, 136, 138, 140, 141, 142, 144, 145, 146, 147, 148, 150, 152, 153, 154, 155, 156, 158, 159, 160, 161, 162, 164, 165, 166, 168, 170, 171, 172, 174, 175, 176, 177, 178, 180, 182, 183, 184, 185, 186, 188, 189, 190, 192, 194, 195, 196, 198, 200, 201, 202, 203, 204, 205, 206, 207, 208, 210, 212, 213, 214, 215, 216, 217, 218, 219, 220, 222, 224, 225, 226, 228, 230, 231, 232, 234, 235, 236, 237, 238, 240, 242, 243, 244, 245, 246, 248, 249, 250, 252, 254, 255, 256, 258, 259, 260, 261, 262, 264, 265, 266, 267, 268, 270, 272, 273, 274, 275, 276, 278, 279, 280, 282, 284, 285, 286, 287, 288, 290, 291, 292, 294, 295, 296, 297, 298, 300, 301, 302, 303, 304, 305, 306, 308, 309, 310, 312, 314, 315, 316, 318, 320, 321, 322, 324, 325, 326, 327, 328, 329, 330, 332, 333, 334, 335, 336, 338, 339, 340, 342, 343, 344, 345, 346, 348, 350, 351, 352, 354, 355, 356, 357, 358, 360, 362, 363, 364, 365, 366, 368, 369, 370, 371, 372, 374, 375, 376, 378, 380, 381, 382, 384, 385, 386, 387, 388, 390, 392, 393, 394, 395, 396, 398, 399, 400, 402, 404, 405, 406, 408, 410, 411, 412, 413, 414, 415, 416, 417, 418, 420, 422, 423, 424, 425, 426, 427, 428, 429, 430, 432, 434, 435, 436, 438, 440, 441, 442, 444, 445, 446, 447, 448, 450, 452, 453, 454, 455, 456, 458, 459, 460, 462, 464, 465, 466, 468, 469, 470, 471, 472, 474, 475, 476, 477, 478, 480, 482, 483, 484, 485, 486, 488, 489, 490, 492, 494, 495, 496, 497, 498, 500, 501, 502, 504, 505, 506, 507, 508, 510, 511, 512, 513, 514, 515, 516, 518, 519, 520, 522, 524, 525, 526, 528, 530, 531, 532, 534, 535, 536, 537, 538, 539, 540, 542, 543, 544, 545, 546, 548, 549, 550, 552, 553, 554, 555, 556, 558, 560, 561, 562, 564, 565, 566, 567, 568, 570, 572, 573, 574, 575, 576, 578, 579, 580, 581, 582, 584, 585, 586, 588, 590, 591, 592, 594, 595, 596, 597, 598, 600, 602, 603, 604, 605, 606, 608, 609, 610, 612, 614, 615, 616, 618, 620, 621, 622, 623, 624, 625, 626, 627, 628, 630, 632, 633, 634, 635, 636, 637, 638, 639, 640, 642, 644, 645, 646, 648, 650, 651, 652, 654, 655, 656, 657, 658, 660, 662, 663, 664, 665, 666, 668, 669, 670, 672, 674, 675, 676, 678, 679, 680, 681, 682, 684, 685, 686, 687, 688, 690, 692, 693, 694, 695, 696, 698, 699, 700, 702, 704, 705, 706, 707, 708, 710, 711, 712, 714, 715, 716, 717, 718, 720, 721, 722, 723, 724, 725, 726, 728, 729, 730, 732, 734, 735, 736, 738, 740, 741, 742, 744, 745, 746, 747, 748, 749, 750, 752, 753, 754, 755, 756, 758, 759, 760, 762, 763, 764, 765, 766, 768, 770, 771, 772, 774, 775, 776, 777, 778, 780, 782, 783, 784, 785, 786, 788, 789, 790, 791, 792, 794, 795, 796, 798, 800, 801, 802, 804, 805, 806, 807, 808, 810, 812, 813, 814, 815, 816, 818, 819, 820, 822, 824, 825, 826, 828, 830, 831, 832, 833, 834, 835, 836, 837, 838, 840, 842, 843, 844, 845, 846, 847, 848, 849, 850, 852, 854, 855, 856, 858, 860, 861, 862, 864, 865, 866, 867, 868, 870, 872, 873, 874, 875, 876, 878, 879, 880, 882, 884, 885, 886, 888, 889, 890, 891, 892, 894, 895, 896, 897, 898, 900, 902, 903, 904, 905, 906, 908, 909, 910, 912, 914, 915, 916, 917, 918, 920, 921, 922, 924, 925, 926, 927, 928, 930, 931, 932, 933, 934, 935, 936, 938, 939, 940, 942, 944, 945, 946, 948, 950, 951, 952, 954, 955, 956, 957, 958, 959, 960, 962, 963, 964, 965, 966, 968, 969, 970, 972, 973, 974, 975, 976, 978, 980, 981, 982, 984, 985, 986, 987, 988, 990, 992, 993, 994, 995, 996, 998, 999]

In [148]:
q7_answer = [num for num in range(1,1000) if True in [True for divisor in range(2,10) if num % divisor == 0]]
print(q7_answer)

[2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 14, 15, 16, 18, 20, 21, 22, 24, 25, 26, 27, 28, 30, 32, 33, 34, 35, 36, 38, 39, 40, 42, 44, 45, 46, 48, 49, 50, 51, 52, 54, 55, 56, 57, 58, 60, 62, 63, 64, 65, 66, 68, 69, 70, 72, 74, 75, 76, 77, 78, 80, 81, 82, 84, 85, 86, 87, 88, 90, 91, 92, 93, 94, 95, 96, 98, 99, 100, 102, 104, 105, 106, 108, 110, 111, 112, 114, 115, 116, 117, 118, 119, 120, 122, 123, 124, 125, 126, 128, 129, 130, 132, 133, 134, 135, 136, 138, 140, 141, 142, 144, 145, 146, 147, 148, 150, 152, 153, 154, 155, 156, 158, 159, 160, 161, 162, 164, 165, 166, 168, 170, 171, 172, 174, 175, 176, 177, 178, 180, 182, 183, 184, 185, 186, 188, 189, 190, 192, 194, 195, 196, 198, 200, 201, 202, 203, 204, 205, 206, 207, 208, 210, 212, 213, 214, 215, 216, 217, 218, 219, 220, 222, 224, 225, 226, 228, 230, 231, 232, 234, 235, 236, 237, 238, 240, 242, 243, 244, 245, 246, 248, 249, 250, 252, 254, 255, 256, 258, 259, 260, 261, 262, 264, 265, 266, 267, 268, 270, 272, 273, 274, 275, 276, 278, 279, 280, 282, 284, 285, 286, 287, 288, 290, 291, 292, 294, 295, 296, 297, 298, 300, 301, 302, 303, 304, 305, 306, 308, 309, 310, 312, 314, 315, 316, 318, 320, 321, 322, 324, 325, 326, 327, 328, 329, 330, 332, 333, 334, 335, 336, 338, 339, 340, 342, 343, 344, 345, 346, 348, 350, 351, 352, 354, 355, 356, 357, 358, 360, 362, 363, 364, 365, 366, 368, 369, 370, 371, 372, 374, 375, 376, 378, 380, 381, 382, 384, 385, 386, 387, 388, 390, 392, 393, 394, 395, 396, 398, 399, 400, 402, 404, 405, 406, 408, 410, 411, 412, 413, 414, 415, 416, 417, 418, 420, 422, 423, 424, 425, 426, 427, 428, 429, 430, 432, 434, 435, 436, 438, 440, 441, 442, 444, 445, 446, 447, 448, 450, 452, 453, 454, 455, 456, 458, 459, 460, 462, 464, 465, 466, 468, 469, 470, 471, 472, 474, 475, 476, 477, 478, 480, 482, 483, 484, 485, 486, 488, 489, 490, 492, 494, 495, 496, 497, 498, 500, 501, 502, 504, 505, 506, 507, 508, 510, 511, 512, 513, 514, 515, 516, 518, 519, 520, 522, 524, 525, 526, 528, 530, 531, 532, 534, 535, 536, 537, 538, 539, 540, 542, 543, 544, 545, 546, 548, 549, 550, 552, 553, 554, 555, 556, 558, 560, 561, 562, 564, 565, 566, 567, 568, 570, 572, 573, 574, 575, 576, 578, 579, 580, 581, 582, 584, 585, 586, 588, 590, 591, 592, 594, 595, 596, 597, 598, 600, 602, 603, 604, 605, 606, 608, 609, 610, 612, 614, 615, 616, 618, 620, 621, 622, 623, 624, 625, 626, 627, 628, 630, 632, 633, 634, 635, 636, 637, 638, 639, 640, 642, 644, 645, 646, 648, 650, 651, 652, 654, 655, 656, 657, 658, 660, 662, 663, 664, 665, 666, 668, 669, 670, 672, 674, 675, 676, 678, 679, 680, 681, 682, 684, 685, 686, 687, 688, 690, 692, 693, 694, 695, 696, 698, 699, 700, 702, 704, 705, 706, 707, 708, 710, 711, 712, 714, 715, 716, 717, 718, 720, 721, 722, 723, 724, 725, 726, 728, 729, 730, 732, 734, 735, 736, 738, 740, 741, 742, 744, 745, 746, 747, 748, 749, 750, 752, 753, 754, 755, 756, 758, 759, 760, 762, 763, 764, 765, 766, 768, 770, 771, 772, 774, 775, 776, 777, 778, 780, 782, 783, 784, 785, 786, 788, 789, 790, 791, 792, 794, 795, 796, 798, 800, 801, 802, 804, 805, 806, 807, 808, 810, 812, 813, 814, 815, 816, 818, 819, 820, 822, 824, 825, 826, 828, 830, 831, 832, 833, 834, 835, 836, 837, 838, 840, 842, 843, 844, 845, 846, 847, 848, 849, 850, 852, 854, 855, 856, 858, 860, 861, 862, 864, 865, 866, 867, 868, 870, 872, 873, 874, 875, 876, 878, 879, 880, 882, 884, 885, 886, 888, 889, 890, 891, 892, 894, 895, 896, 897, 898, 900, 902, 903, 904, 905, 906, 908, 909, 910, 912, 914, 915, 916, 917, 918, 920, 921, 922, 924, 925, 926, 927, 928, 930, 931, 932, 933, 934, 935, 936, 938, 939, 940, 942, 944, 945, 946, 948, 950, 951, 952, 954, 955, 956, 957, 958, 959, 960, 962, 963, 964, 965, 966, 968, 969, 970, 972, 973, 974, 975, 976, 978, 980, 981, 982, 984, 985, 986, 987, 988, 990, 992, 993, 994, 995, 996, 998, 999]

In [149]:
# Q8For all the numbers 1–1000, use a nested list/dictionary comprehension to find the highest single
# digit any of the numbers is divisible by
# q8_answer = {num:max([divisor for divisor in range(1,10) if num % divisor == 0]) for num in nums}

l = {i:max(j for j in range(1,10) if i%j == 0)for i in range(1,1000)}
print(l)

{1: 1, 2: 2, 3: 3, 4: 4, 5: 5, 6: 6, 7: 7, 8: 8, 9: 9, 10: 5, 11: 1, 12: 6, 13: 1, 14: 7, 15: 5, 16: 8, 17: 1, 18: 9, 19: 1, 20: 5, 21: 7, 22: 2, 23: 1, 24: 8, 25: 5, 26: 2, 27: 9, 28: 7, 29: 1, 30: 6, 31: 1, 32: 8, 33: 3, 34: 2, 35: 7, 36: 9, 37: 1, 38: 2, 39: 3, 40: 8, 41: 1, 42: 7, 43: 1, 44: 4, 45: 9, 46: 2, 47: 1, 48: 8, 49: 7, 50: 5, 51: 3, 52: 4, 53: 1, 54: 9, 55: 5, 56: 8, 57: 3, 58: 2, 59: 1, 60: 6, 61: 1, 62: 2, 63: 9, 64: 8, 65: 5, 66: 6, 67: 1, 68: 4, 69: 3, 70: 7, 71: 1, 72: 9, 73: 1, 74: 2, 75: 5, 76: 4, 77: 7, 78: 6, 79: 1, 80: 8, 81: 9, 82: 2, 83: 1, 84: 7, 85: 5, 86: 2, 87: 3, 88: 8, 89: 1, 90: 9, 91: 7, 92: 4, 93: 3, 94: 2, 95: 5, 96: 8, 97: 1, 98: 7, 99: 9, 100: 5, 101: 1, 102: 6, 103: 1, 104: 8, 105: 7, 106: 2, 107: 1, 108: 9, 109: 1, 110: 5, 111: 3, 112: 8, 113: 1, 114: 6, 115: 5, 116: 4, 117: 9, 118: 2, 119: 7, 120: 8, 121: 1, 122: 2, 123: 3, 124: 4, 125: 5, 126: 9, 127: 1, 128: 8, 129: 3, 130: 5, 131: 1, 132: 6, 133: 7, 134: 2, 135: 9, 136: 8, 137: 1, 138: 6, 139: 1, 140: 7, 141: 3, 142: 2, 143: 1, 144: 9, 145: 5, 146: 2, 147: 7, 148: 4, 149: 1, 150: 6, 151: 1, 152: 8, 153: 9, 154: 7, 155: 5, 156: 6, 157: 1, 158: 2, 159: 3, 160: 8, 161: 7, 162: 9, 163: 1, 164: 4, 165: 5, 166: 2, 167: 1, 168: 8, 169: 1, 170: 5, 171: 9, 172: 4, 173: 1, 174: 6, 175: 7, 176: 8, 177: 3, 178: 2, 179: 1, 180: 9, 181: 1, 182: 7, 183: 3, 184: 8, 185: 5, 186: 6, 187: 1, 188: 4, 189: 9, 190: 5, 191: 1, 192: 8, 193: 1, 194: 2, 195: 5, 196: 7, 197: 1, 198: 9, 199: 1, 200: 8, 201: 3, 202: 2, 203: 7, 204: 6, 205: 5, 206: 2, 207: 9, 208: 8, 209: 1, 210: 7, 211: 1, 212: 4, 213: 3, 214: 2, 215: 5, 216: 9, 217: 7, 218: 2, 219: 3, 220: 5, 221: 1, 222: 6, 223: 1, 224: 8, 225: 9, 226: 2, 227: 1, 228: 6, 229: 1, 230: 5, 231: 7, 232: 8, 233: 1, 234: 9, 235: 5, 236: 4, 237: 3, 238: 7, 239: 1, 240: 8, 241: 1, 242: 2, 243: 9, 244: 4, 245: 7, 246: 6, 247: 1, 248: 8, 249: 3, 250: 5, 251: 1, 252: 9, 253: 1, 254: 2, 255: 5, 256: 8, 257: 1, 258: 6, 259: 7, 260: 5, 261: 9, 262: 2, 263: 1, 264: 8, 265: 5, 266: 7, 267: 3, 268: 4, 269: 1, 270: 9, 271: 1, 272: 8, 273: 7, 274: 2, 275: 5, 276: 6, 277: 1, 278: 2, 279: 9, 280: 8, 281: 1, 282: 6, 283: 1, 284: 4, 285: 5, 286: 2, 287: 7, 288: 9, 289: 1, 290: 5, 291: 3, 292: 4, 293: 1, 294: 7, 295: 5, 296: 8, 297: 9, 298: 2, 299: 1, 300: 6, 301: 7, 302: 2, 303: 3, 304: 8, 305: 5, 306: 9, 307: 1, 308: 7, 309: 3, 310: 5, 311: 1, 312: 8, 313: 1, 314: 2, 315: 9, 316: 4, 317: 1, 318: 6, 319: 1, 320: 8, 321: 3, 322: 7, 323: 1, 324: 9, 325: 5, 326: 2, 327: 3, 328: 8, 329: 7, 330: 6, 331: 1, 332: 4, 333: 9, 334: 2, 335: 5, 336: 8, 337: 1, 338: 2, 339: 3, 340: 5, 341: 1, 342: 9, 343: 7, 344: 8, 345: 5, 346: 2, 347: 1, 348: 6, 349: 1, 350: 7, 351: 9, 352: 8, 353: 1, 354: 6, 355: 5, 356: 4, 357: 7, 358: 2, 359: 1, 360: 9, 361: 1, 362: 2, 363: 3, 364: 7, 365: 5, 366: 6, 367: 1, 368: 8, 369: 9, 370: 5, 371: 7, 372: 6, 373: 1, 374: 2, 375: 5, 376: 8, 377: 1, 378: 9, 379: 1, 380: 5, 381: 3, 382: 2, 383: 1, 384: 8, 385: 7, 386: 2, 387: 9, 388: 4, 389: 1, 390: 6, 391: 1, 392: 8, 393: 3, 394: 2, 395: 5, 396: 9, 397: 1, 398: 2, 399: 7, 400: 8, 401: 1, 402: 6, 403: 1, 404: 4, 405: 9, 406: 7, 407: 1, 408: 8, 409: 1, 410: 5, 411: 3, 412: 4, 413: 7, 414: 9, 415: 5, 416: 8, 417: 3, 418: 2, 419: 1, 420: 7, 421: 1, 422: 2, 423: 9, 424: 8, 425: 5, 426: 6, 427: 7, 428: 4, 429: 3, 430: 5, 431: 1, 432: 9, 433: 1, 434: 7, 435: 5, 436: 4, 437: 1, 438: 6, 439: 1, 440: 8, 441: 9, 442: 2, 443: 1, 444: 6, 445: 5, 446: 2, 447: 3, 448: 8, 449: 1, 450: 9, 451: 1, 452: 4, 453: 3, 454: 2, 455: 7, 456: 8, 457: 1, 458: 2, 459: 9, 460: 5, 461: 1, 462: 7, 463: 1, 464: 8, 465: 5, 466: 2, 467: 1, 468: 9, 469: 7, 470: 5, 471: 3, 472: 8, 473: 1, 474: 6, 475: 5, 476: 7, 477: 9, 478: 2, 479: 1, 480: 8, 481: 1, 482: 2, 483: 7, 484: 4, 485: 5, 486: 9, 487: 1, 488: 8, 489: 3, 490: 7, 491: 1, 492: 6, 493: 1, 494: 2, 495: 9, 496: 8, 497: 7, 498: 6, 499: 1, 500: 5, 501: 3, 502: 2, 503: 1, 504: 9, 505: 5, 506: 2, 507: 3, 508: 4, 509: 1, 510: 6, 511: 7, 512: 8, 513: 9, 514: 2, 515: 5, 516: 6, 517: 1, 518: 7, 519: 3, 520: 8, 521: 1, 522: 9, 523: 1, 524: 4, 525: 7, 526: 2, 527: 1, 528: 8, 529: 1, 530: 5, 531: 9, 532: 7, 533: 1, 534: 6, 535: 5, 536: 8, 537: 3, 538: 2, 539: 7, 540: 9, 541: 1, 542: 2, 543: 3, 544: 8, 545: 5, 546: 7, 547: 1, 548: 4, 549: 9, 550: 5, 551: 1, 552: 8, 553: 7, 554: 2, 555: 5, 556: 4, 557: 1, 558: 9, 559: 1, 560: 8, 561: 3, 562: 2, 563: 1, 564: 6, 565: 5, 566: 2, 567: 9, 568: 8, 569: 1, 570: 6, 571: 1, 572: 4, 573: 3, 574: 7, 575: 5, 576: 9, 577: 1, 578: 2, 579: 3, 580: 5, 581: 7, 582: 6, 583: 1, 584: 8, 585: 9, 586: 2, 587: 1, 588: 7, 589: 1, 590: 5, 591: 3, 592: 8, 593: 1, 594: 9, 595: 7, 596: 4, 597: 3, 598: 2, 599: 1, 600: 8, 601: 1, 602: 7, 603: 9, 604: 4, 605: 5, 606: 6, 607: 1, 608: 8, 609: 7, 610: 5, 611: 1, 612: 9, 613: 1, 614: 2, 615: 5, 616: 8, 617: 1, 618: 6, 619: 1, 620: 5, 621: 9, 622: 2, 623: 7, 624: 8, 625: 5, 626: 2, 627: 3, 628: 4, 629: 1, 630: 9, 631: 1, 632: 8, 633: 3, 634: 2, 635: 5, 636: 6, 637: 7, 638: 2, 639: 9, 640: 8, 641: 1, 642: 6, 643: 1, 644: 7, 645: 5, 646: 2, 647: 1, 648: 9, 649: 1, 650: 5, 651: 7, 652: 4, 653: 1, 654: 6, 655: 5, 656: 8, 657: 9, 658: 7, 659: 1, 660: 6, 661: 1, 662: 2, 663: 3, 664: 8, 665: 7, 666: 9, 667: 1, 668: 4, 669: 3, 670: 5, 671: 1, 672: 8, 673: 1, 674: 2, 675: 9, 676: 4, 677: 1, 678: 6, 679: 7, 680: 8, 681: 3, 682: 2, 683: 1, 684: 9, 685: 5, 686: 7, 687: 3, 688: 8, 689: 1, 690: 6, 691: 1, 692: 4, 693: 9, 694: 2, 695: 5, 696: 8, 697: 1, 698: 2, 699: 3, 700: 7, 701: 1, 702: 9, 703: 1, 704: 8, 705: 5, 706: 2, 707: 7, 708: 6, 709: 1, 710: 5, 711: 9, 712: 8, 713: 1, 714: 7, 715: 5, 716: 4, 717: 3, 718: 2, 719: 1, 720: 9, 721: 7, 722: 2, 723: 3, 724: 4, 725: 5, 726: 6, 727: 1, 728: 8, 729: 9, 730: 5, 731: 1, 732: 6, 733: 1, 734: 2, 735: 7, 736: 8, 737: 1, 738: 9, 739: 1, 740: 5, 741: 3, 742: 7, 743: 1, 744: 8, 745: 5, 746: 2, 747: 9, 748: 4, 749: 7, 750: 6, 751: 1, 752: 8, 753: 3, 754: 2, 755: 5, 756: 9, 757: 1, 758: 2, 759: 3, 760: 8, 761: 1, 762: 6, 763: 7, 764: 4, 765: 9, 766: 2, 767: 1, 768: 8, 769: 1, 770: 7, 771: 3, 772: 4, 773: 1, 774: 9, 775: 5, 776: 8, 777: 7, 778: 2, 779: 1, 780: 6, 781: 1, 782: 2, 783: 9, 784: 8, 785: 5, 786: 6, 787: 1, 788: 4, 789: 3, 790: 5, 791: 7, 792: 9, 793: 1, 794: 2, 795: 5, 796: 4, 797: 1, 798: 7, 799: 1, 800: 8, 801: 9, 802: 2, 803: 1, 804: 6, 805: 7, 806: 2, 807: 3, 808: 8, 809: 1, 810: 9, 811: 1, 812: 7, 813: 3, 814: 2, 815: 5, 816: 8, 817: 1, 818: 2, 819: 9, 820: 5, 821: 1, 822: 6, 823: 1, 824: 8, 825: 5, 826: 7, 827: 1, 828: 9, 829: 1, 830: 5, 831: 3, 832: 8, 833: 7, 834: 6, 835: 5, 836: 4, 837: 9, 838: 2, 839: 1, 840: 8, 841: 1, 842: 2, 843: 3, 844: 4, 845: 5, 846: 9, 847: 7, 848: 8, 849: 3, 850: 5, 851: 1, 852: 6, 853: 1, 854: 7, 855: 9, 856: 8, 857: 1, 858: 6, 859: 1, 860: 5, 861: 7, 862: 2, 863: 1, 864: 9, 865: 5, 866: 2, 867: 3, 868: 7, 869: 1, 870: 6, 871: 1, 872: 8, 873: 9, 874: 2, 875: 7, 876: 6, 877: 1, 878: 2, 879: 3, 880: 8, 881: 1, 882: 9, 883: 1, 884: 4, 885: 5, 886: 2, 887: 1, 888: 8, 889: 7, 890: 5, 891: 9, 892: 4, 893: 1, 894: 6, 895: 5, 896: 8, 897: 3, 898: 2, 899: 1, 900: 9, 901: 1, 902: 2, 903: 7, 904: 8, 905: 5, 906: 6, 907: 1, 908: 4, 909: 9, 910: 7, 911: 1, 912: 8, 913: 1, 914: 2, 915: 5, 916: 4, 917: 7, 918: 9, 919: 1, 920: 8, 921: 3, 922: 2, 923: 1, 924: 7, 925: 5, 926: 2, 927: 9, 928: 8, 929: 1, 930: 6, 931: 7, 932: 4, 933: 3, 934: 2, 935: 5, 936: 9, 937: 1, 938: 7, 939: 3, 940: 5, 941: 1, 942: 6, 943: 1, 944: 8, 945: 9, 946: 2, 947: 1, 948: 6, 949: 1, 950: 5, 951: 3, 952: 8, 953: 1, 954: 9, 955: 5, 956: 4, 957: 3, 958: 2, 959: 7, 960: 8, 961: 1, 962: 2, 963: 9, 964: 4, 965: 5, 966: 7, 967: 1, 968: 8, 969: 3, 970: 5, 971: 1, 972: 9, 973: 7, 974: 2, 975: 5, 976: 8, 977: 1, 978: 6, 979: 1, 980: 7, 981: 9, 982: 2, 983: 1, 984: 8, 985: 5, 986: 2, 987: 7, 988: 4, 989: 1, 990: 9, 991: 1, 992: 8, 993: 3, 994: 7, 995: 5, 996: 6, 997: 1, 998: 2, 999: 9}

In [21]:
import numpy

print("Printing Original array")
sampleArray = numpy.array([[34,43,73],[82,22,12],[53,94,66]]) 
print (sampleArray)

print("Array after deleting column 2 on axis 1")
sampleArray = numpy.delete(sampleArray , 1, axis = 1) 
print (sampleArray)

arr = numpy.array([[10,10,10]])

print("Array after inserting column 2 on axis 1")
sampleArray = numpy.insert(sampleArray , 1, arr, axis = 1) 
print (sampleArray)

Printing Original array
[[34 43 73]
 [82 22 12]
 [53 94 66]]
Array after deleting column 2 on axis 1
[[34 73]
 [82 12]
 [53 66]]
Array after inserting column 2 on axis 1
[[34 10 73]
 [82 10 12]
 [53 10 66]]